body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .header {
    background-color: #ca926a;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }
  
  .header-title {
    font-family: courier, monospace;
    margin: 0;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #add8e6;
    color: #ffffff;
    font-family: courier, monospace;
    text-decoration: none;
    margin: 0 5px;
  }
  
  .content {
    text-align: center;
    margin: 20px;
    font-size: 16px;
    line-height: 1.6;
    font-family: courier, monospace;
  }
  
  .meet-team {
    text-align: center;
    margin-top: 30px;
    font-size: 24px;
    font-family: courier, monospace;
  }
  
  .team-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .team-member {
    display: inline-block;
    text-align: center;
    margin: 30px;
    width: 150px;
  }
  
  .team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  
  .team-member .name {
    margin-top: 10px;
    font-weight: bold;
    font-family: courier, monospace;
  }
  
  .team-member .title {
    margin-top: 5px;
    font-style: italic;
    font-family: courier, monospace;
  }