body {
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #ca926a;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.header-title {
  font-family: courier, monospace;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #add8e6;
  color: #ffffff;
  font-family: courier, monospace;
  text-decoration: none;
  margin: 0 5px;
}

.content {
  text-align: center;
  margin-top: 20px;
}

.contact-heading {
  margin-top: 0;
}

.contact-info {
  margin-bottom: 20px;
}

.appointment-box {
  background-color: #ca926a;
  border-radius: 10px;
  padding: 20px;
  color: #ffffff;
}
.appointment-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.appointment-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.user-details {
  flex: 1;
  margin-left: 20px;
  margin-top: 20px;
}
.user-details {
  flex: 1;
  margin-left: 20px;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

textarea {
  height: 80px;
}

.calendar, .times {
  margin-right: 20px;
}

.calendar h3, .times h3 {
  margin-top: 0;
}

.day-list, .time-list {
  list-style-type: none;
  padding: 0;
}

.day-list li, .time-list li {
  cursor: pointer;
  margin-bottom: 5px;
}

.day-list li:hover, .time-list li:hover {
  background-color: #add8e6;
}
.day-list .selected {
  background-color: lightgrey;
}

.time-list .selected {
  background-color: lightgrey;
}

.confirmation-section {
  text-align: center;
}

.confirmation-section h3 {
  margin-top: 0;
}

.confirmation-section button {
  background-color: #ffffff;
  color: #ca926a;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.confirmation-section button:disabled {
  opacity: 0.5;
}
