body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .header {
    background-color: #ca926a;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }
  
  .header-title {
    font-family: courier, monospace;
    margin: 0;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #add8e6;
    color: #ffffff;
    font-family: courier, monospace;
    text-decoration: none;
    margin: 0 5px;
  }